---
# tasks file for gitrepo
- name: Package
  ansible.builtin.package:
    name: git
    update_cache: true
  tags:
    - gitrepo
    - package

- name: Check repo existence
  ansible.builtin.stat:
    path: "{{ gitrepo_folder }}/.git"
  register: gitrepo
  tags:
    - gitrepo
    - check

- name: Package_facts
  ansible.builtin.package_facts:
    manager: auto
  tags:
    - gitrepo
    - facts

- name: .gitignore
  ansible.builtin.template:
    src: gitignore.j2
    dest: "{{ gitrepo_folder }}/.gitignore"
    mode: "0644"
    backup: false
  when: "not 'etckeeper' in ansible_facts.packages"
  tags:
    - gitrepo
    - gitignore

- name: Create repository and add files
  ansible.builtin.shell:
    'cd {{ gitrepo_folder }} && git init . && git add .'
  register: init
  when: gitrepo.stat.isdir is not defined
  changed_when: "'Initialized' in init.stdout"
  tags:
    - gitrepo
    - create

- name: Configure user.email
  community.general.git_config:
    name: user.email
    repo: "{{ gitrepo_folder }}"
    scope: local
    value: "root@{{ ansible_hostname }}"
  when: not ansible_check_mode
  tags:
    - gitrepo
    - configure

- name: Initial commit
  ansible.builtin.shell:
    'cd {{ gitrepo_folder }} && git commit -m "initial commit"'
  register: commit
  when: gitrepo.stat.isdir is not defined
  changed_when: "'create' in commit.stdout"
  tags:
    - gitrepo
    - commit
